@using Models;
@model Models.Monster

@{
    ViewBag.Title = "Monster";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RunescapeWiki</title>
</head>
<body class="BackgroundTekst">
    <ul>
        <h1 class="Menu">
            <li><a @Html.ActionLink("List", "List", "List")</a></li>
            <li><a @Html.ActionLink("MyAccount", "UserAccount", "UserAccount")</a></li>
            <li><a @Html.ActionLink("Stats", "Stats", "Stats")</a></li>
            <li><a class="active" @Html.ActionLink("Monsters", "Monster", "Monster")</a></li>
        </h1>
    </ul>
    <div class="ContainerContent">
        <div class="BackdropTop"></div>
        <div class="Backdrop">
            <h1>@ViewBag.Monster.Name</h1>
            <div class="LeftMonster">
                <p class="LeftMonsterText">
                    @ViewBag.Monster.Description
                </p>
            </div>
            <div class="RightMonster">
                <p class="RightMonsterText">
                    <h2>Tip:</h2>
                    <li>@ViewBag.Tip.Description </li>
                </p>
                <div class="imgcontainer">
                    <img src="~/images/Placeholder.jpg" alt="Avatar" class="monsterImg">
                </div>
            </div>
        </div>
        <div class="BackdropBot"></div>
    </div>
</body>
</html>
