@model RuneScapeWiki.Models.UpdateAccountViewModel


@{
    ViewBag.Title = "Account";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RunescapeWiki</title>
</head>
<body class="BackgroundTekst">
    <ul>
        <h1 class="Menu">
            <li><a @Html.ActionLink("List", "List", "List")</a></li>
            <li><a class="active" @Html.ActionLink("MyAccount", "UserAccount", "UserAccount")</a></li>
            <li><a @Html.ActionLink("Stats", "Stats", "Stats")</a></li>
            <li><a @Html.ActionLink("Monsters", "Monster", "Monster")</a></li>
        </h1>
    </ul>
    <div class="ContainerContent">
        <div class="BackdropTop"></div>
        <div class="Backdrop">
            <h1> Update Account:</h1>
            <div class="imgcontainer">
                <img src="../images/Logo.png" alt="Avatar" class="avatar">
            </div>

            <div class="containerInlog">
                <form asp-action="UpdateUserAccount" asp-controller="UserAccount">
                    <input class="Inlog" type="text" value="@ViewBag.User.Email" asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>

                    <input class="Inlog" type="text" value="@ViewBag.User.Username" asp-for="UserName">
                    <span asp-validation-for="UserName" class="text-danger"></span>

                    <input class="Inlog" type="password" value="@ViewBag.User.Password" asp-for="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <button type="submit">Update Account</button>
                </form>
            </div>
        </div>
        <div class="BackdropBot"></div>
    </div>
</body>
</html>
