@using Models;
@model Models.User


@{
    ViewBag.Title = "Account";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RunescapeWiki</title>
</head>
<body class="BackgroundTekst">
    <ul>
        <h1 class="Menu">
            <li><a @Html.ActionLink("List", "List", "List")</a></li>
            <li><a class="active" @Html.ActionLink("MyAccount", "UserAccount", "UserAccount")</a></li>
            <li><a @Html.ActionLink("Stats", "Stats", "Stats")</a></li>
            <li><a @Html.ActionLink("Monsters", "Monster", "Monster")</a></li>
        </h1>
    </ul>
    <div class="ContainerContent">
        <div class="BackdropTop"></div>
        <div class="Backdrop">
            <h1> Account details:</h1>
            <div class="imgcontainer">
                <img src="../images/Logo.png" alt="Avatar" class="avatar">
            </div>

            <div class="containerInlog">
                <h1>Email: @ViewBag.User.Email</h1>
                <h1>Username: @ViewBag.User.Username</h1>
                <h1>Password: @ViewBag.User.Password</h1>

                <form method="post" asp-controller="UserAccount" asp-action="ToUpdateUserAccount">
                    <button class="NewStats" type="submit">Update Account</button>
                </form>
            </div>
        </div>
        <div class="BackdropBot"></div>
    </div>
</body>
</html>
