@using Models;
@model RuneScapeWiki.Models.AllMonsterViewModel

@{
    ViewBag.Title = "List";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RunescapeWiki</title>
</head>
<body class="BackgroundTekst">
    <ul>
        <h1 class="Menu">
            <li><a class="active" @Html.ActionLink("List", "List", "List")</a></li>
            <li><a @Html.ActionLink("MyAccount", "UserAccount", "UserAccount")</a></li>
            <li><a @Html.ActionLink("Stats", "Stats", "Stats")</a></li>
            <li><a @Html.ActionLink("Monsters", "Monster", "Monster")</a></li>
        </h1>
    </ul>
    <div class="ContainerContent">
        <div class="BackdropTop"></div>
        <div class="Backdrop">
            <h1>List of Monsters</h1>
            <div class="LeftList">
                <p class="LeftListText">
                    <h2>Can do:</h2><br />
                    @foreach (Monster monster in Model.ListOfMonsters.Where(monster => monster.RequireStat <= ViewBag.GameAccount.Slayer))
                    {
                        <li><a class="MonsterHerf">@monster.Name</a></li>

                    }
                </p>
            </div>
            <div class="RightList">
                <h2>Can't do:</h2><br />
                @foreach (Monster monster in Model.ListOfMonsters.Where(monster => monster.RequireStat > ViewBag.GameAccount.Slayer))
                {
            <li><a class="MonsterHerf">@monster.Name</a>, required Slayer level: @monster.RequireStat</li>
                }
            </div>
        </div>
        <div class="BackdropBot"></div>
    </div>
</body>
</html>
