@model Models.GameAccount

@{
    ViewBag.Title = "Stats";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RunescapeWiki</title>
</head>
<body class="BackgroundTekst">
    <ul>
        <h1 class="Menu">
            <li><a asp-action="List" asp-controller="List">List</a></li>
            <li><a asp-action="UserAccount" asp-controller="UserAccount">My account</a></li>
            <li><a class="active" asp-action="Stats" asp-controller="Stats">Stats</a></li>
        </h1>
    </ul>
    <div class="ContainerContent">
        <div class="BackdropTop"></div>
        <div class="Backdrop">
            <h1>Account name: @ViewBag.GameAccount.Name</h1>
            <table>
                <tbody>
                    <tr>
                        <td><h1>Strength:</h1></td>
                        <td><h1>@ViewBag.GameAccount.Strength</h1></td>
                    </tr>
                    <tr>
                        <td><h1>Attack:</h1></td>
                        <td><h1>@ViewBag.GameAccount.Attack</h1></td>
                    </tr>
                    <tr>
                        <td><h1>Defence:</h1></td>
                        <td><h1>@ViewBag.GameAccount.Defence</h1></td>
                    </tr>
                    <tr>
                        <td><h1>Slayer:</h1></td>
                        <td><h1>@ViewBag.GameAccount.Slayer</h1></td>
                    </tr>
                </tbody>
            </table>

            <form method="post" asp-controller="Stats" asp-action="UpdateStatsPage">
                <button class="NewStats" type="submit">Update ingame account</button>
            </form>
        </div>
        <div class="BackdropBot"></div>
    </div>
</body>
</html>
